In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Series的排序

In [2]:
s1 = Series(np.random.randn(10))
s1

0   -1.039625
1    0.182749
2   -1.107449
3   -1.172206
4   -0.372466
5   -0.546886
6   -0.425286
7    0.479654
8   -1.561597
9    3.464567
dtype: float64

In [4]:
s1.values

array([-1.03962503,  0.18274925, -1.10744931, -1.17220615, -0.37246606,
       -0.54688574, -0.4252861 ,  0.47965415, -1.56159714,  3.46456683])

In [5]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [6]:
s2 = s1.sort_values()
s2

8   -1.561597
3   -1.172206
2   -1.107449
0   -1.039625
5   -0.546886
6   -0.425286
4   -0.372466
1    0.182749
7    0.479654
9    3.464567
dtype: float64

In [7]:
s2 = s1.sort_values(ascending=False)# 降序排列
s2

9    3.464567
7    0.479654
1    0.182749
4   -0.372466
6   -0.425286
5   -0.546886
0   -1.039625
2   -1.107449
3   -1.172206
8   -1.561597
dtype: float64

In [8]:
s2.sort_index()#按照index排序

0   -1.039625
1    0.182749
2   -1.107449
3   -1.172206
4   -0.372466
5   -0.546886
6   -0.425286
7    0.479654
8   -1.561597
9    3.464567
dtype: float64

# DataFrame排序

In [9]:
df1 = DataFrame(np.random.randn(40).reshape(8,5),columns=['A','B','C','D','E'])
df1

          A         B         C         D         E
0 -0.867365  0.255017 -1.288899  0.040876  0.699963
1  0.382660  0.859159  1.895505  0.436301  2.028677
2 -0.132577 -1.334494  1.118474  1.328384  0.160784
3  0.328182  0.607234 -0.232939 -0.929446  2.583126
4 -2.076070 -0.000926  0.089387  0.978829 -2.348531
5  0.438047  0.035420 -0.516043 -0.646601 -1.902249
6 -0.542915  0.960846  0.297646  0.255881 -1.086495
7 -1.102281  0.515002  1.394761 -0.569817  0.955565

In [10]:
df1['A'].sort_values()

4   -2.076070
7   -1.102281
0   -0.867365
6   -0.542915
2   -0.132577
3    0.328182
1    0.382660
5    0.438047
Name: A, dtype: float64

In [11]:
df1.sort_values('A')

          A         B         C         D         E
4 -2.076070 -0.000926  0.089387  0.978829 -2.348531
7 -1.102281  0.515002  1.394761 -0.569817  0.955565
0 -0.867365  0.255017 -1.288899  0.040876  0.699963
6 -0.542915  0.960846  0.297646  0.255881 -1.086495
2 -0.132577 -1.334494  1.118474  1.328384  0.160784
3  0.328182  0.607234 -0.232939 -0.929446  2.583126
1  0.382660  0.859159  1.895505  0.436301  2.028677
5  0.438047  0.035420 -0.516043 -0.646601 -1.902249