In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
csv_input = 'movie_metadata.csv'

In [8]:
pd.read_csv(csv_input)[['movie_title','director_name','imdb_score']].sort_values('imdb_score',ascending=False).to_csv('imdb.csv')

In [13]:
df1 = DataFrame(np.arange(9).reshape(3,3),index=['BJ','SH','GZ'],columns=['A','B','C'])
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [14]:
df1.index

Index(['BJ', 'SH', 'GZ'], dtype='object')

In [15]:
df1.index = Series(['bj','sh','gz'])
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8